* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5; }

p {
  margin-top: 0; }

h1, h2, h3, h4 {
  font-family: "Encode Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.5rem; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem; }

header {
  background-color: #e9ecef; }
  header h1 {
    color: #28a745;
    font-size: 5rem; }
  header .container {
    padding: 8% 1rem; }
  header a {
    display: none; }

#features,
#uses,
#testimonials,
footer {
  padding: 5% 0rem; }

.feature {
  display: flex;
  flex: 1;
  align-items: flex-start; }
  .feature svg {
    fill: #28a745;
    padding-right: 1rem; }

#uses {
  background-color: #f8f9fa;
  background-size: 100%; }
  #uses .use {
    padding: 0.5rem; }
    #uses .use .card {
      border-color: rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      background-color: #fff;
      height: 100%; }
      #uses .use .card img {
        width: 100%;
        border-color: rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem 0.25rem 0 0; }
      #uses .use .card .card-body {
        padding: 1rem; }

#testimonials .container {
  text-align: center; }
  #testimonials .container .testimonial img {
    border-radius: 50%; }
  #testimonials .container .testimonial .occupation {
    font-size: 0.8em;
    color: #808080; }

footer {
  background-color: #28a745;
  background-size: 100%;
  color: #fff; }
  footer a {
    fill: #fff;
    color: #fff;
    text-decoration: none; }
  footer a:hover,
  footer a:focus {
    background-color: #bdc6d0; }

#uses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media (min-width: 768px) {
  header {
    background-image: url(../img/header.jpg);
    background-position: center;
    height: 400px; }
    header .container {
      text-align: right;
      float: right;
      padding-right: 50px;
      padding-left: 40%; }
    header .lead {
      font-weight: lighter;
      font-size: 1.25em; }
    header h1 {
      font-size: 7rem; }
    header a {
      display: initial;
      background: #28a745;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      color: #fff;
      text-decoration: none; }
    header a:hover,
    header a:focus {
      background-color: #1e7e34; }

  .use {
    flex: 0 1 49%; }

  footer .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; } }
@media (min-width: 992px) {
  #features .container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center; }
  #features .feature-body {
    padding: 0rem 1.5rem; }

  .use {
    flex: 0 1 24%; }

  #testimonials .container {
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
