@media (min-width: 992px) {
    #features {
        .container {
            display: flex;
            flex: 1;
            align-items: flex-start;
            justify-content: center;
        }
    
        .feature-body {
            padding: 0rem 1.5rem;
        }
    }

    .use {
        flex: 0 1 24%;
    }
    
    #testimonials {
        .container {
            display: flex;
        }
    }
}